---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout
    title="Über uns – Frauenverein Sarmenstorf"
    styleFile="/src/styles/ueber-uns.css"
>
    <Header />

    <main>
        <section class="section ueber-uns">
            <div class="container">
                <h1>Über uns</h1>
                <p>
                    Der Frauenverein Sarmenstorf wurde im Jahre 1917 gegründet.
                    Bereits haben wir das 100-jährige Jubiläum mit einem
                    speziellen Anlass gefeiert.
                </p>
                <p>
                    Wir sind stolz darauf, 200 Mitglieder zu zählen. Wir wollen
                    mit unserem Angebot das Leben in der Gemeinde aktiv
                    mitgestalten und setzen uns für ein lebendiges Miteinander
                    im Dorf ein. Der Ursprung unseres Vereins liegt in der
                    katholischen Kirche. Heute sind bei uns Frauen jeden Alters
                    und unabhängig ihrer Konfession willkommen.
                </p>
                <div class="spacer"></div>
                <p>
                    Haben wir dein Interesse geweckt? Melde dich bei uns – ob
                    persönlich am nächsten Anlass oder ganz unkompliziert per
                    Klick auf den «Kontakt». Wir freuen uns!
                </p>
                <p>Mit einem Jahresbeitrag von 20 Franken bist du dabei.</p>

                <div class="slideshow-container">
                    <div class="slideshow">
                        <img
                            src="/images/ueber-uns/ueber-uns-1.jpg"
                            alt="Vorstand Bild 1"
                        />
                        <img
                            src="/images/ueber-uns/ueber-uns-2.jpg"
                            alt="Vorstand Bild 2"
                        />
                    </div>
                </div>

                <a
                    class="button"
                    href="mailto:kontakt@frauenverein-sarmenstorf.ch">Kontakt</a
                >
            </div>
        </section>
    </main>

    <Footer />
</Layout>
