<header class="site-header">
  <div class="container header-bar">
    <a class="brand-logo" href="/">
      <img src="/images/logo.png" alt="Logo Frauenverein Sarmenstorf" />
    </a>
    <nav class="nav">
      <ul>
        <li><a href="/">Startseite</a></li>
        <li><a href="/ueber-uns">Über uns</a></li>
        <li class="has-sub">
          <a href="/anlaesse">Anlässe <span class="caret">▾</span></a>
          <ul class="sub">
            <li><a href="/jahresprogramm">Jahresprogramm</a></li>
            <li><a href="/freizeitplausch">Freizeitplausch</a></li>
            <li><a href="/weihnachtsbasteln">Weihnachtsbasteln</a></li>
          </ul>
        </li>
        <li><a href="/vorstand">Vorstand</a></li>
        <li><a href="/adventsfenster">Adventsfenster</a></li>
        <li><a href="/kontakt">Kontakt</a></li>
      </ul>
    </nav>
  </div>
</header>
